body{
  font-family: 'Konnect' !important;
}
@font-face {
  font-family: 'Konnect';
  src: url('../fonts/Konnect/Konnect-Black.otf') format('opentype');
  src: url('../fonts/Konnect/Konnect-Black.ttf') format('truetype');
}
/* navbar custom css */

.bread-boder {
  padding: 5px 10px 5px 10px;
  margin-bottom: 15px;
}
.input-group.filter-by,
.btn.btn-default.search-bt {
  height: 100%;
  background-color: #fab400;
  color: #343433;
}

.input-group-btn button {
  display: flex;
}
.input-group.filter-by {
  border-radius: 0px 4px 4px 0px !important;
}

.navbar-brand {
  display: flex;
  margin: auto;
  height: 100%;
}

.navbar-brand h5 {
  margin: auto;
}

.navbar-search-bar {
  z-index: 1000;
}

.navbar {
  color: white;
  background: #131921;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border: none;
}

#bottom-navbar{
  background-color: #232f3e;
}
#bottom-navbar:first-child{
  align-items: center;
  padding: 5px 0;
}

.deliver-to-uae,.bottom-nav{
  border: 1px solid transparent;
}

.deliver-to-uae:hover,.bottom-nav:hover{
  border: 1px solid white;
  color: white !important;
}

.nav-a.bottom-nav{
  padding: 7px 9px 7px 8px;
  color: #ccc;
  float: left;
  font-family: inherit;
  font-size: 16px;
}

.top-dropdown {
  border-right: 1px solid white;
}

.custom-select2.sub-menu {
  cursor: no-drop;
}

.all-cate::before {
  content: none !important;
  top: 13px;
  color: #666666;

}

.select-selected2 {
  background-color: #f3f3f3;
  color: #666666;
  border-radius: 0px;
}

option{
  font-size: 13.3px;
}

.select-selected2:after {
  border-color: #212529 transparent transparent transparent;
}
.all-cate .select-selected2::after {
  top: 23px !important;
}

.all-cate .select-selected:first-child{
  border-radius: 4px 0 0 4px !important;
}

.all-cate.custom-select2:first-child{
  border-radius: 4px 0 0 4px !important;
}

.all-cate .select-selected2 {
  padding: 10px 16px 10px 8px;
  font-size: 15px;
    min-width: 50px;
}
.select-items2 div{
  font-size: 13px;
  background: none !important;
  padding: 6px 16px !important;
  margin: 0 !important;
}

.all-cate .select-selected2::after {
  right: 3px;
}

.all-cate .select-selected2::before {
  right: 10px;
}

.select-items2 {
  width: max-content;
}

.select-selected2.select-arrow-active:after {
  border-color: transparent transparent #212529 transparent;
  top: 7px;
}

li a {
  color: white;
}

.breadcrumb-item a {
  color: black;
}

.circle-2 {
  background: #fab400;
}

#navbarResponsive {
  margin: 0;
  height: 60%;
}
.input-group.filter-by input {
  height: 100%;
}

.nav-line-1{
  font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    display: inline-block;
    color: white;
    margin-top: 9px;
}
.nav-line-2{
  font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    color: white;
    display: block;
    white-space: nowrap;
}
.nav-a.nav-a-2.nav-tool{
    line-height: normal;
    display: flex;
    padding: 0 4px;
    flex-direction: column;
}

.nav-a.nav-a-2{
  border: 1px solid transparent;
}

.nav-a.nav-a-2:hover,.navbar-brand:hover{
  border: 1px solid white;
  color: white !important;
}

.dropdown{
  min-width: auto;
}

.dropdown-text{
  font-size: 13px;
    color: #444;
    font-weight: 400;
    white-space: normal;
    word-wrap: break-word;
}

.login-register-dropdown{
  left: 21%;
}
/* navbar custom css */

/* Filters */
.price-filter-range div,
.price-filter-range span {
  background-color: #fab400  !important;
  border: 1px solid #fab400  !important;
}

.btn-filter {
  background-color: #fab400  !important;
}





/* Shop-col-4 css starts from here */
.imghvr-push-right {
  width: 100%;
}

#bestsellers {
  padding: 10px 0px;
  margin: 0px 15px;
  width: calc(100% - 30px);
}
/* Shop-col-4 css ends here */

/* Login page css starts from here  */
.fb {
  background-color: #3b5998;
  color: white;
  width: 100%;
  margin: 5px 0;
  border-radius: 4px 0px 0px 4px !important;
}

.twitter {
  background-color: #55acee;
  color: white;
  width: 100%;
  margin: 5px 0;
  border-radius: 4px 0px 0px 4px !important;
}

.google {
  background-color: #dd4b39;
  color: white;
  width: 100%;
  margin: 5px 0;
  border-radius: 4px 0px 0px 4px !important;
}
/* vertical line */
.vl {
  border: 2px solid #ddd;
  height: 1px;
  display: flex;
  justify-content: center;
  margin: 30px 15px 20px 15px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-8%, -195%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 13px;
}

/* Supplier page css start from here */


.supplier-card {
  min-height: auto !important;
  height: auto !important;
  border-bottom: 2px solid #ddd;
  position: relative;
  z-index: 6;
  transition: 0.3s ease;
  padding: 10px 0;
  background: #fff;
  position: relative;
  background-color: white;
  margin-bottom: 10px;

}

.supplier-card:hover {
  border: 0px solid transparent;
  box-shadow: 0px 5px 5px 0 rgba(53, 78, 84, 0.15);
  z-index: 20;
  transition: 0.3s ease;
}

.supplier-card:hover .contact-supplier-btn {
  visibility: visible;
}

.supplier-card .product-img img {
  margin: 5% 0;
}



.supplier-card-details {
  padding: 0 30px 20px 30px;
}

.supplier-card-title {
  font-size: 20px;
  line-height: 1.255;
}

.supplier-card-details p {
  font-size: 14px;
  line-height: 1.255;
}

.supplier-card-details .supplier-card-title:hover {
  color: #ed8308;
  cursor: pointer;
}

.product-select {
  text-align: center;
}

.contact-supplier-btn {
  margin: 5px 0;
  background: #ed8308;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 8px 20px 7px 20px;
  border-radius: 100px !important;
  display: inline-block;
  border: 0;
  min-width: 140px;
  visibility: hidden;
}

.contact-supplier-btn:hover {
  filter: drop-shadow(1px, 1px, 1px, lightgray);
  background-color: #febd69;
  color: white;
}

.star-rating {
  line-height: 32px;
  font-size: 1.25em;
}

.star-rating .fa-star {
  color: #ed8308;
}

/* Product Page starts from here */
.product .product-name{
  font-size: 16x;
  font-weight: 400;
  font-family: 'Calibri', sans-serif !important;
}

.price-dollar{
  top: -.5em;
  font-size: 12px;
  position: relative;
}
.price-digit{
 font-size: 21px;
}
.price-fraction{
  position: relative;
  top: -.5em;
  font-size: 12px;
}
.single-product-price{
  text-align: left;
}

.product-card-col{
  padding: 12px 12px;
}
.product-title{
  font-size: 15px!important;
  text-align: left;
  line-height: 1.4!important;
  font-weight: 400!important;
  font-style: normal!important;
  text-transform: none!important;
  text-decoration: none!important;
}
.product-img{
  width: 100%;
  height: 260px;
}

.product-card {
  min-height: 270px !important;
  max-height: 445px !important;
  margin-top: 0 !important;
  border: none;
  margin-bottom: 12px;
  border-bottom: 2px solid #ddd;
}

.product-card:hover{
  box-shadow: none;
  border-bottom: 2px solid #ddd;;
}

.stepper-widget{
  margin: 0 !important;
}

.product-card:hover .contact-supplier-btn {
  visibility: visible;
  transition: 0.5s;
}

.product-card::after {
  content: unset;
}
.product .product-type {
  color: #fab400;
}

.round-icon-btn:hover {
  background-color: #fab400;
}

.right-heading::before {
  background: #fab400;
}
.inner-left-menu h3:before {
  background: #fab400;
}

.js-qty-down:hover,
.js-qty-up:hover,
.add2:hover {
  background: #febd69 !important;
}

.add-to-cart {
  background: #febd69 !important;
}

/* Buyer page css starts from here */

.buyer-card {
  min-height: 250px !important;
  max-height: 270px !important;
  margin-bottom: 15px !important;
}

/* Deal of the week */
#deal-of-the-week {
  width: 100%;
}



/* Single Product Page */
.inner-page{
  padding: 0 0 43px 0 !important;
}

/* General */

#newsletter {
  background:  #fab400;
}



/* Media queries */

@media all and (max-width:991px){
  .top-dropdown{
    border: none;
    width: 50%;
    padding: 0 15px;
  }

  .login-register-dropdown{
    left: 17.5%;
  }

  .dropdown-menu.show {
    min-width: auto;
  }
}
/*custom css*/
#featured-products h2::before,.three-img h2::before,#bestsellers h2::before,
#deal-of-the-week h2::before,.products-section h2::before {
    background: #fab400;
}
.btn-theme {
    color: #fab400;}
.address a {
    color: #fab400;
}
.products-section h2 {
    margin: 20px 0 10px 0;
}
.three-img {
    padding: 20px 0 0 0;
}
#bestsellers .product {
    min-height: 400px !important;
}
.product .product-type {
    font-size: 16px;
}
.copy-right {
    font-size: 16px;
}
.inner-left-menu {
    padding: 10px 15px;
}
.sticky{
      position: sticky;
  position: -webkit-sticky;
  background: #fab400;
  width: 100%;
  height: 50px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #000;
  color: #fff;
}


/* Slider */
.hero-section.overlay.bg-cover.position-relative.home-2{
  max-height: calc(100vh - 100px);
}

.hero-slider.slick-initialized.slick-slider.slick-dotted{
  max-height: calc(100vh - 100px);
}

.slick-list.draggable{
  max-height: calc(100vh - 100px);
}
